/* Header Section */

header{
display:flex;
flex-direction: row;
flex-wrap: wrap;

}

header nav{
    margin-left: auto;

}

header nav ul{
    display: flex;
    flex-direction: row;

}

header nav ul li{
    margin: 15px;
    list-style-type: none;

}

header nav ul li a{
    text-decoration: none;
    color: red;
}

/* Main Sections */

section {
    width: 90%;
    margin: auto;
}

/* About Me Section */

#about-me{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me-container{
    margin: 20px;
    width: 50%;
}

/* Projects Section */

#hw1 {
    background: url('../images/hw1.png');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    margin: 20px;

}

#Planner {
    background: url("https://user-images.githubusercontent.com/8907347/149627642-4815a7d0-40e4-4904-b623-57c54f80c1cb.PNG");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    margin: 20px;

}

#Project1 {
    background: url('../images/Mars.jpg');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    margin: 20px;

}

.ph {
    background-image: url("https://www.fillmurray.com/400/300");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    margin: 20px;
}

#project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#ph2 {

}

@media  screen and (max-width: 768px) {

    #hw1 {
        width: 500px;
        height: 350px;
    }
    
}