/* Header Section */

header{
display:flex;
flex-direction: row;
flex-wrap: wrap;

}

header nav{
    margin-left: auto;

}

header nav ul{
    display: flex;
    flex-direction: row;

}

header nav ul li{
    margin: 15px;
    list-style-type: none;

}

header nav ul li a{
    text-decoration: none;
    color: red;
}

/* Main Sections */

section {
    width: 90%;
    margin: auto;
}

/* About Me Section */

#about-me{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me-container{
    margin: 20px;
    width: 50%;
}

/* Projects Section */

#hw1 {
    /* LINK IMAGE HERE!!!!!! background-image: url("./assets/images/FILENAME"); */
    background-color: blue;
    width: 800px;
    height: 500px;

}

.ph {
    background-image: url("https://www.fillmurray.com/400/300");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    margin: 20px;
}

#project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#ph2 {

}

@media  screen and (max-width: 768px) {

    #hw1 {
        width: 500px;
        height: 350px;
    }
    
}